body {
  font-family: 'Coda', sans-serif;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: fade-in 0.9s forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  header {
    background: linear-gradient(to bottom, #f5f8f8, #271e2e60);
    color: #111010;
    padding: 0px;
    text-align: center;
    transition: color 0.2s ease;
  }

h1 {
    margin: 0;
    transition: color 0.3s ease;
}

main {
    padding: 20px;
}

#movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.movie-details-card {
    background: linear-gradient(to bottom, #f5f8f8, #f5f4f4);
    padding: 69px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    position: relative;
    overflow: hidden;
    max-width: 1800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.movie-details-card:hover {
    transform: scale(1.005);
}

.movie-details-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    z-index: -1;
}

.movie-details-card h2 {
    margin: 0 0 5px;
}

.movie-details-card img {
    width: 90%;
    height: auto;
    border-radius: 7px;
    margin-bottom: 50px;
}

.movie-details-card p {
    margin: 15px; 
}

.dark-theme {
    background-color: #222;
    color: #fff;
    background: linear-gradient(to bottom,#10101d, #010102);
}

.dark-theme .movie-details-card {
    background-color: #333;
    background: linear-gradient(to bottom, #181818, #000);
}

.dark-theme header {
    background: linear-gradient(to bottom, #1d2122, #14012477);
    color: rgb(253, 253, 253);
}

#night-mode-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-right: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  transition: background-color 0.3s ease;
}

#night-mode-button:hover {
  background-color: rgba(255, 255, 255, 0.1);

}


.icon {
display: none;
margin-right: 0;
}




.dark-theme .sun-icon {
display: none;
}

.dark-theme .moon-icon {
display: inline;
}

.dark-theme .night-mode-button {
color: #f5d430;
}

.light-theme .sun-icon {
display: inline;
}

.light-theme .moon-icon {
display: none;
}

.light-theme .night-mode-button {
color: #f5d430;
}

.navbar {
display: flex;
justify-content: flex-start;
align-items: center;
padding: 10px;
background-color: #0c0c165b;
border-radius: 5px;
transition: all 0.3s ease-in-out;
}

.navbar-tabs {
display: flex;
gap: 1.5rem;
}

.nav-tab {
background: none;
border: none;
cursor: pointer;
font-size: 16px;
transition: all 0.3s ease-in-out;
color: rgb(209, 209, 209);
font-family: 'Coda', sans-serif;
margin-right: 10px;
}


.light-theme .nav-tab {
  color: black;
}

.logo {
width: 80px; 
margin-right: 10px; 
}

.nav-tab:hover {
  color: #a25bff;
  transform: scale(1.05);
}

#back-button {
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #3f2068;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Coda', sans-serif;

}

#back-button:hover {
    background-color: #304253;
}

.movie-details-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    
}


.poster-container {
    position: relative;
}

#movie-poster {
    width: 90%;
    height: auto;
    border-radius: 7px;
    margin-right: 20px; 
    z-index: 1;
}


.movie-info {
    flex: 1; 
    margin-left: 20px;
}

.movie-info h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.movie-info p {
    margin: 10px 0;
    font-size: 16px;
}

.movie-info ul {
    margin: 10px 0;
    padding: 0;
}

.movie-info ul li {
    margin-bottom: 5px;
    font-size: 16px;
}


.favorite-button {
    background-color: #00000000;
    color: white;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 76px;
    left: 560px; 
    z-index: 1;
}

.favorite-button:before {
    content: '\2764';
    position: relative;
    font-size: 24px;
}

.favorite-button.favorited:before {
    color: #f44336;
}


#cast-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cast-list li {
    margin-bottom: 5px;
}

.related-movies {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.related-movies h3 {
    margin-top: 0;
}

.related-movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.related-movie-card {
    flex: 0 0 auto;
    width: 150px;
    margin: 0 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.related-movie-card:hover{
    transform: scale(1.05);
    opacity: 70%;
}

.related-movie-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.related-movie-card h4 {
    margin-top: 5px;
    font-size: 16px;
    font-weight:normal
}



.watch-button {
    display: block;
    margin-top: -55px;
    margin-left: 2px; 
    padding: 1px 210px;
    font-size: 12px;
    background-color: #2e1e1e;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color, padding 0.3s ease;
  }
  
  .watch-button:hover {
    background-color:#4d3333;
    padding: 10px 210px;
  }
  
  .watched {
    background-color: #252b26;
    color: darkgray;
  }

  .watched:hover{
    background-color: #353f37;

  }

  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  
  .comment-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    color: #fff;
    font-family: 'Coda', sans-serif;

  }
  
  .comment-text {
    margin: 0;
    color: #fff;
    font-weight: 100;
    
  }

  
  
  #comment-form {
    display: flex;
    margin-top: 10px;
    width: 1200px;
    
  }
  
  #comment-input {
    flex: 1;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 16px;
    border-width: 2px;
    transition: all 0.3s ease;
    font-family: 'Coda', sans-serif;

  }

  #comment-input:hover{
    border-color: #a25bff;
  }
  
  #comment-input:focus {
    outline: none;
    border-color: #ff5b5b;
  }

  #name-input{
    border-width: 2px;
    border-radius: 15%;
    transition: all 0.3s ease;
    width: 70px;
    font-family: 'Coda', sans-serif;

    
  }

  #name-input:hover{
    border-radius: 20%;
    border-color: #a25bff;

  }
  
  #comment-form button {
    background-color: #a25bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin-top: 47px;
    margin-left: -90px;
    transition: background-color 0.3s ease;
    font-family: 'Coda', sans-serif;

  }
  
  #comment-form button:hover {
    background-color: #8128c9;
  }

