body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
  }

  header {
    background: linear-gradient(to bottom, #f5f8f8, #271e2e60);
    color: #111010;
    padding: 20px;
    text-align: center;
    transition: color 0.2 ease;
  }

  h1 {
    margin: 0;
    transition: color 0.3s ease;
  }

  main {
    padding: 20px;
  }

  #movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .movie-card {
    background: linear-gradient(to bottom, #f5f8f8, #f5f4f4);
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    position: relative;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .movie-card:hover {
    transform: scale(1.05);
  }

  .movie-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    z-index: -1;
    animation: outlineMove 2s linear infinite;
  }

  @keyframes outlineMove {
    0% {
      transform: translate(-100%, -100%);
      border-color: #5c0feb;
    }
    5% {
      transform: translate(100%, -100%);
      border-color: #5c0feb;
    }
    50% {
      transform: translate(100%, 100%);
      border-color: #5c0feb;
    }
    75% {
      transform: translate(-100%, 100%);
      border-color: #5c0feb;
    }
    100% {
      transform: translate(-100%, -100%);
      border-color: #5c0feb;
    }
  }

  .movie-card h2 {
    margin: 0 0 10px;
  }

  .movie-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .movie-card p {
    margin: 0;
  }

  .dark-theme {
    background-color: #222;
    color: #fff;
    background: linear-gradient(to bottom,#10101d, #010102);
  }

  .dark-theme .movie-card {
    background-color: #333;
    background: linear-gradient(to bottom, #252525, #0c0c0c);
  }

  .dark-theme header{
    background: linear-gradient(to bottom, #272d2e, #16003349);
    color: rgb(253, 253, 253);
  }

  #night-mode-button {
    position: relative;
    height: 40px;
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #191e1f;
    color: white;
    border: none;
    border-radius: 10%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: border-radius 0.5s ease;
  }

  #night-mode-button:hover {
    background-color: #363e44;
    outline: white;
    border: #d6d5d5;
  }

  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0c0c165b;
    padding: 10px;
    border-radius: 25px;
  }
  
  .navbar-tabs {
    display: flex;
    gap: 3rem;
  }
  
  .nav-tab {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(209, 209, 209)
    
  }

  
  .nav-tab:hover {
    color: #a25bff;
  }


  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;
  }
  
  .search-bar:hover {
    transform: scale(1.02);
  }

  .search-input {
    width: 300px;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    box-shadow: 10px 44px 55px rgba(0, 0, 0, 0.21);
  }

  .search-button {
    height: 40px;
    width: 100px;
    padding: 0 20px;
    border: none;
    border-radius: 20px;
    background-color: #23303d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .search-button:hover {
    background-color: #304253;
  }

  .page-selector {
    display: flex;
    justify-content: center;
  }

  .page-selector button {
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .page-selector button:hover {
    background-color: #555;
  }

  .back-button {
    background-color: #808080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .back-button:hover {
    background-color: #b9c9e0;
  }

  
  .favorite-button {
    background-color: #f44336;
    color: white;
    padding: 8px 8px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    position: relative;
  }
  
  .favorite-button:hover {
    background-color: #d32f2f;
  }
  
  .favorite-button:before {
    content: '\2661';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Adjust the font-size value as desired */
  }
  
  .favorite-button.favorited:before {
    content: '\2764';
  }
  