@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');

body {
  font-family: 'Coda', sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: fade-in 0.9s forwards;
  background-color: #222;
  color: #fff;
  background: linear-gradient(to bottom, #0a0a13, #010102);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header {
  background: linear-gradient(to bottom, #000000, #0b001a49);
  color: rgb(253, 253, 253);
  padding: 0px;
  text-align: center;
  transition: color 0.2s ease;
}

h1 {
  margin: 0;
  transition: color 0.3s ease;
}

main {
  padding: 20px;
}

#movies-container {
  display: grid;
  margin-right: 50px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;

}

#movies-container li img {
  width: 200px;
  height: auto;
  margin-right: 0px;
}

.movie-card {
  background-color: #333;
  background: linear-gradient(to bottom, #0f0c14, #0a080c);
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #a928ff0e;

  transition: all 0.3s ease-in-out, color 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgb(65, 65, 65);
  animation: border-animation 3s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}



.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 14px rgb(0, 0, 0);
  outline: none;
  position: relative;
  border: 2px solid #43007a;

}

.movie-card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background-image: radial-gradient(circle, #0a0616 0%, #160d30 60%, #0a0616 100%);
  background-size: 200% 200%;
  background-position: -2px -2px;
  animation: border-animation 3s ease-in-out infinite;

}

@keyframes background-animation {
  0% {
    background-position: -2px -2px;
  }

  100% {
    background-position: calc(100% + 2px) calc(100% + 2px);
  }
}



.movie-card h2 {
  margin: 0 0 20px;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-card p {
  margin: 0;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


header {
  background: linear-gradient(to bottom, rgb(20, 20, 26), #16003349);
  color: rgb(253, 253, 253);
  padding: 0px;
  text-align: center;
  transition: color 0.2s ease;
}

h1 {
  margin: 0;
  transition: color 0.3s ease;
}

main {
  padding: 20px;
}

.movie-card {
  background-color: #333;
  background: linear-gradient(to bottom, #04040f, #020208);
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #a928ff0e;
  cursor: pointer;
  transition: all 0.3s ease-in-out, color 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(65, 65, 65, 0.356);
  animation: border-animation 3s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}



.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 14px rgb(0, 0, 0);
  outline: none;
  position: relative;
  border: 2px solid #43007a;

}

.movie-card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background-image: radial-gradient(circle, #000000 0%, #0b0618 60%, #0a0616 100%);
  background-size: 200% 200%;
  background-position: -2px -2px;
  animation: border-animation 3s ease-in-out infinite;

}

@keyframes background-animation {
  0% {
    background-position: -2px -2px;
  }

  100% {
    background-position: calc(100% + 2px) calc(100% + 2px);
  }
}



.movie-card h2 {
  margin: 0 0 20px;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-card p {
  margin: 0;
}







.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.navbar-tabs {
  display: flex;
  gap: 1.5rem;
}

.nav-tab {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
  font-family: 'Mulish', sans-serif;
  font-weight: 1000;
  margin-left: 8px;
}


.logo {
  width: 80px;
  margin-right: 10px;
}

.nav-tab:hover {
  color: #a25bff;
  transform: scale(1.05);
}

.page-selector {
  display: flex;
  justify-content: center;
}

.page-selector button {
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #21213385;
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.page-selector button:hover {
  background-color: #555;
}


.back-button {
  background-color: #808080;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #d4b9e0;
}

.favorite-button {
  background-color: #f44336;
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 19px;
  cursor: pointer;
  position: relative;
}

.favorite-button:hover {
  background-color: #d32f2f;
}

.favorite-button:before {
  content: '\2661';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.favorite-button.favorited:before {
  content: '\2764';
}

footer {
  background: linear-gradient(to bottom, #08080f, #010102);
  color: rgb(156, 156, 156);
  text-align: center;
  padding: 10px;
}


#loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

#loading-spinner {
  border: 8px solid #000000;
  border-top: 8px solid #8a34db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}